html {
	height: 100%;
}

body {
	background: #9CA url('palms.png') repeat-x fixed bottom;
	color: black;
	font-family: 'Tahoma', 'Geneva', sans-serif;
	width: 67%;
	height: 100%;
	margin: 0 auto;
}

#top-and-content-wrapper {
	box-shadow: 0 0 15px black;
	min-height: 100%;
	background: white;
}

#top-banner {
	overflow: hidden;
	background: linear-gradient(#5AD, #697);
	height: 150px;
}
#header {
	margin: 40px;
	font: bold 44px 'Tahoma', 'Geneva', sans-serif;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
	color: white;
}


ul#top-nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #243;
	color: #9CA;
}
ul#top-nav-bar li {
	float: left;
	display: block;
	margin: 1px;
	padding: 4px /*top & bottom*/ 15px /*right & left */;
	cursor: pointer;
}
ul#top-nav-bar li:hover,
ul#top-nav-bar li.selected {
	background-color: #9CA;
	color: black;
	border-radius: 3px 10px;
}

#bottom-copyright-bar {
	margin: 80px 0 0 0;
	padding: 20px;
	color: white;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
	font-size: 80%;
	text-align: center;
}
#bottom-copyright-bar a {
	color: white;
}
#bottom-copyright-bar a:link {
	text-decoration: none;
}
#bottom-copyright-bar a:hover {
	text-decoration: underline;
}

#img-rotation {
	height: 150px;
	clear: none;
	float: right;
}


#main-content {
	padding: 30px 50px 100px;
}

.main-content-tab {
	display: none;
}

dt {
	font-weight: bold;
}
dd {
	margin: 0 0 0 20px;
}


#quiz-score-box {
	float: right;
	font-size: 50px;
	text-align: center;
	padding: 25px;
	background: #697;
	border-radius: 20px;
}

#quiz-score-title {
	display: block;
}

#quiz {
	display: none;
}

#quiz-intro button,
#quiz-next button {
	font-size: 14px;
}

#quiz .question {
	display: none;
}

#quiz-questions {
	list-style-type: none;
	padding: 0;
}

#quiz-questions ul.radios {
	list-style-type: none;
	padding: 0;
}

#quiz-questions ul.radios label {
	margin-left: 5px;
}
