body {
	background: #9CA url('palms.png') repeat-x fixed bottom;
	color: black;
	font-family: 'Tahoma', 'Geneva', sans-serif;
	width: 67%;
	margin: 0 auto 150px;
}

#everything-wrapper {
	box-shadow: 0 0 15px black;
}

#top-banner {
	overflow: hidden;
	background-color: #697;
	height: 150px;
}
#header {
	margin: 40px;
	font: bold 44px 'Tahoma', 'Geneva', sans-serif;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
	color: white;
}


ul#top-nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #243;
	color: #9CA;
}
ul#top-nav-bar li {
	float: left;
	display: block;
	border: 1px;
	padding: 5px /*top & bottom*/ 20px /*right & left */;
	cursor: pointer;
}
ul#top-nav-bar li:hover {
	background-color: #9CA;
	color: black;
	border-radius: 3px 10px;
}

#img-rotation {
	height: 150px;
	clear: none;
	float: right;
}


#main-content {
	background: white;
	padding: 30px 50px 100px;
}

.main-content-tab {
	display: none;
}
