body {
	background: #9CA url('palms.png') repeat-x fixed bottom;
	color: black;
	font-family: 'Tahoma', 'Geneva', sans-serif;
	width: 67%;
	margin: 0 auto 150px;
}

#top-banner {
	overflow: hidden;
	background-color: #697;
	height: 150px;
}
#header {
	margin: 40px;
	font: bold 44px 'Tahoma', 'Geneva', sans-serif;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
	color: #FFFFFF;
}


ul#top-nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #426104;
}
ul#top-nav-bar li {
	float: left;
	display: block;
	background-color: #426104;
	color: #A8CA65;
	border: 1px;
	padding: 5px /*top & bottom*/ 25px /*right & left */;
	cursor: pointer;
}
ul#top-nav-bar li:hover {
	background-color: #A8CA65;
	color: #426104;
}

#img-rotation {
	height: 150px;
	clear: none;
	float: right;
}


#main-content {
	/*background: linear-gradient(#000 0, #777 3px, #888 5px, #AAA 10px, #CCC 15px, #EEE 25px, #FFF 40px);*/
	background: white;
	padding: 10px;
}

.main-content-tab {
	display: none;
}
